.cards__item {
  width: 279px;
  align-items: center;
  justify-content: center;

}

.cards__item {
  display: flex;
  flex: 1;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.cards__item__img {
  width: 100%;
  object-fit: cover;
  background-color: #fff;
  height: 279px;
}
.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  height: 244px;
  width: 279px;
  background-color: #fff;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
}
